{
  "arrowParens": "always",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "embeddedLanguageFormatting": "auto",
  "endOfLine": "auto",
  "printWidth": 80,
  "semi": true,
  "useTabs": false,
  "trailingComma": "all",
  "tabWidth": 2,
  "singleQuote": true
}